modules = ["bun"]
run = "bun run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bun run start"]

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 4000
externalPort = 4000
